<nav class="navbar">
    <div class="navbar-left">
        <h1>CarRental</h1>
    </div>
    <div class="navbar-right">
        <ul class="main-menu">
            <li class="menu-item">
                <a href="#">Customer</a>
            </li>
            <li class="menu-item dropdown">
                <a href="#">Car</a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/add-car">Add Car</a></li>
                    <li><a routerLink="/list-car">List Cars</a></li>
                    <li><a routerLink="/expenses">Expenses</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a routerLink="/rental">Rentals</a>
            </li>
        </ul>
    </div>
</nav>